<!DOCTYPE html>
<html>
<head>

<title>Mpas - Home</title>
<meta charset="utf-8">

<link href="./stylesheets/Index.css" rel="stylesheet">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
	<h1><%=message%></h1>
	<h2><%=error.status%></h2>
	<pre><%=error.stack%></pre>
</body>	
</html>