<!DOCTYPE html>
<html>
<head>

<title>Mpas - Home</title>
<meta charset="utf-8">

<link href="./stylesheets/Index.css" rel="stylesheet">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div class = "topnav">
  <ul class = "cabecalho">
    <li class = "lista"><a class="active" style="padding:0px;"><img src="./images/logo.jpeg" style="width: 150px; height: 85px;"></a></li>
    <li class = "lista"><a href="#news">News</a></li>
    <li class = "lista"><a href="#contact">Contact</a></li>
    <li class = "lista"><a href="#about">About</a></li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Projeto</a>
      <div class="dropdown-content">
        <!--<a href="#">-->
          <div class="w3-container">
            <button onclick="document.getElementById('id01').style.display='block'" class="w3-button">Novo Projeto</button>

            <div id="id01" class="w3-modal">
              <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

                <div class="w3-center"><br>
                  <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
                  <img src="logo.jpeg" alt="MPas" style="width:30%" class="w3-circle w3-margin-top">
                </div>

                <form class="w3-container" action="/action_page.php">
                  <div class="w3-section">
                    <label><b>Titulo</b></label>
                    <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Título do Projeto" name="Titulo_Projeto" required>
                    <label><b>Descricao</b></label>
                    <input class="w3-input w3-border" type="Text" placeholder="Insira o Texto" name="Descricao" required>
                    <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Criar</button>
                  </div>
                </form>

                <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                  <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-red">Cancelar</button>
                </div>

              </div>
            </div>
          </div>
       <!-- </a>-->

       <!--<a href="#">-->
          <div class="w3-container">
            <button onclick="document.getElementById('id02').style.display='block'" class="w3-button">Deletar projeto</button>

            <div id="id02" class="w3-modal">
              <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

                <div class="w3-center"><br>
                  <span onclick="document.getElementById('id02').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
                  <img src="logo.jpeg" alt="MPas" style="width:30%" class="w3-circle w3-margin-top">
                </div>

                <form class="w3-container" action="/action_page.php">
                  <div class="w3-section">
                    <label><b>Titulo</b></label>
                    <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Insira o Título" name="Titulo_Projeto" required>
                    <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Deletar</button>
                  </div>
                </form>

                <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                  <button onclick="document.getElementById('id02').style.display='none'" type="button" class="w3-button w3-red">Cancelar</button>
                </div>

              </div>
            </div>
          </div>
       <!-- </a>-->

       <!--<a href="#">-->
          <div class="w3-container">
            <button onclick="document.getElementById('id03').style.display='block'" class="w3-button">Editar Projeto</button> <!-- Funcionaldade -->

            <div id="id03" class="w3-modal">
              <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

                <div class="w3-center"><br>
                  <span onclick="document.getElementById('id03').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
                  <img src="logo.jpeg" alt="MPas" style="width:30%" class="w3-circle w3-margin-top">
                </div>

                <form class="w3-container" action="/action_page.php">
                  <div class="w3-section">
                    <label><b>Titulo</b></label>
                    <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Insira o Título" name="Titulo_Projeto" required>
                    <label><b>Descrição</b></label>
                    <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Dercrição" name="Descricao" required>
                    <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Confirmar</button>
                  </div>
                </form>

                <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                  <button onclick="document.getElementById('id03').style.display='none'" type="button" class="w3-button w3-red">Cancelar</button>
                </div>

              </div>
            </div>
          </div>
       <!-- </a>-->

       <!--<a href="#">-->
          <div class="w3-container"> <!-- Funcionalidades   -->
            <button onclick="document.getElementById('id04').style.display='block'" class="w3-button">Inserir Usuario</button>

            <div id="id04" class="w3-modal">
              <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

                <div class="w3-center"><br>
                  <span onclick="document.getElementById('id04').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
                  <img src="logo.jpeg" alt="MPas" style="width:30%" class="w3-circle w3-margin-top">
                </div>

                <form class="w3-container" action="/action_page.php">
                  <div class="w3-section">
                    <label><b>Login</b></label>
                    <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Insira o Login" name="Login" required>
                    <label><b>Projeto</b></label>
                    <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Insira o Projeto" name="Projeto" required>

                    <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Inserir</button>

                  </div>
                </form>

                <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                  <button onclick="document.getElementById('id04').style.display='none'" type="button" class="w3-button w3-red">Cancelar</button>
                </div>

              </div>
            </div>
          </div>
       <!-- </a>-->

       <!--<a href="#">-->
          <div class="w3-container">
            <button onclick="document.getElementById('id05').style.display='block'" class="w3-button">Remover Usuario</button>

            <div id="id05" class="w3-modal">
              <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

                <div class="w3-center"><br>
                  <span onclick="document.getElementById('id05').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
                  <img src="logo.jpeg" alt="MPas" style="width:30%" class="w3-circle w3-margin-top">
                </div>

                <form class="w3-container" action="/action_page.php">
                  <div class="w3-section">
                    <label><b>Login</b></label>
                    <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Insira o Login do Usuário" name="Login" required>
                    <label><b>Projeto</b></label>
                    <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Insira o Projeto" name="Projeto" required>

                    <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Remover</button>
                  </div>
                </form>

                <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                  <button onclick="document.getElementById('id05').style.display='none'" type="button" class="w3-button w3-red">Cancelar</button>
                </div>

              </div>
            </div>
          </div>
       <!-- </a>-->
      </div>
    </li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Atividades</a>
        <div class="dropdown-content">

            <!-- <a href="#">-->
              <div class="w3-container">
                <button onclick="document.getElementById('id06').style.display='block'" class="w3-button">Nova Atividade</button>

                <div id="id06" class="w3-modal">
                  <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

                    <div class="w3-center"><br>
                      <span onclick="document.getElementById('id06').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
                      <img src="logo.jpeg" alt="MPas" style="width:30%" class="w3-circle w3-margin-top">
                    </div>

                    <form class="w3-container" action="/action_page.php">
                      <div class="w3-section">
                        <label><b>Titulo do Projeto</b></label>
                        <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Título da Atividade" name="Titulo_Atividade" required>
                        <label><b>Titulo da Atividade</b></label>
                        <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Título da Atividade" name="Titulo_Atividade" required>
                        <label><b>Descricao</b></label>
                        <input class="w3-input w3-border" type="Text" placeholder="Insira o Texto" name="Descricao" required>
                        <br/>
                        <label><b>Previsão de Término</b></label>
                        <input class="w3-input w3-border" type="date" placeholder="Insira a Data" name="Data_fim" required>
                        <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Criar</button>
                      </div>
                    </form>

                    <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                      <button onclick="document.getElementById('id06').style.display='none'" type="button" class="w3-button w3-red">Cancelar</button>
                    </div>

                  </div>
                </div>
              </div>
           <!-- </a>-->

           <!--<a href="#">-->
              <div class="w3-container">
                <button onclick="document.getElementById('id07').style.display='block'" class="w3-button">Deletar Atividade</button>

                <div id="id07" class="w3-modal">
                  <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

                    <div class="w3-center"><br>
                      <span onclick="document.getElementById('id07').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
                      <img src="logo.jpeg" alt="MPas" style="width:30%" class="w3-circle w3-margin-top">
                    </div>

                    <form class="w3-container" action="/action_page.php">
                      <div class="w3-section">
                        <label><b>Titulo</b></label>
                        <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Insira o Título" name="Titulo_Atividade" required>
                        <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Deletar</button>
                      </div>
                    </form>

                    <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                      <button onclick="document.getElementById('id07').style.display='none'" type="button" class="w3-button w3-red">Cancelar</button>
                    </div>

                  </div>
                </div>
              </div>
           <!-- </a>-->

           <!--<a href="#">-->
              <div class="w3-container">
                <button onclick="document.getElementById('id08').style.display='block'" class="w3-button">Editar Atividade</button> <!-- Funcionaldade -->

                <div id="id08" class="w3-modal">
                  <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

                    <div class="w3-center"><br>
                      <span onclick="document.getElementById('id08').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
                      <img src="logo.jpeg" alt="MPas" style="width:30%" class="w3-circle w3-margin-top">
                    </div>

                    <form class="w3-container" action="/action_page.php">
                      <div class="w3-section">
                        <label><b>Título</b></label>
                        <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Insira o Título" name="Titulo_Atividade" required>
                        <label><b>Descrição</b></label>
                        <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Dercrição" name="Descricao" required>
                        <label><b>Data de Término</b></label>
                        <input class="w3-input w3-border w3-margin-bottom" type="date" placeholder="Insira a Data" name="Data_fim" required>
                        <label><b>Data de Inicio</b></label>
                        <input class="w3-input w3-border w3-margin-bottom" type="date" placeholder="Insira a Data" name="Data_inicio" required>

                        <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Confirmar</button>
                      </div>
                    </form>

                    <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                      <button onclick="document.getElementById('id08').style.display='none'" type="button" class="w3-button w3-red">Cancelar</button>
                    </div>

                  </div>
                </div>
              </div>
           <!-- </a>-->

           <!--<a href="#">-->
              <div class="w3-container"> <!-- Funcionalidades   -->
                <button onclick="document.getElementById('id09').style.display='block'" class="w3-button">Inserir Usuario</button>

                <div id="id09" class="w3-modal">
                  <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

                    <div class="w3-center"><br>
                      <span onclick="document.getElementById('id09').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
                      <img src="logo.jpeg" alt="MPas" style="width:30%" class="w3-circle w3-margin-top">
                    </div>

                    <form class="w3-container" action="/action_page.php">
                      <div class="w3-section">
                        <label><b>Login</b></label>
                        <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Insira o Login" name="Login" required>
                        <label><b>Atividade</b></label>
                        <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Selecione a Atividade" name="Atividade" required>

                        <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Inserir</button>
                      </div>
                    </form>

                    <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                      <button onclick="document.getElementById('id09').style.display='none'" type="button" class="w3-button w3-red">Cancelar</button>
                    </div>

                  </div>
                </div>
              </div>
           <!-- </a>-->

           <!--<a href="#">-->
              <div class="w3-container">
                <button onclick="document.getElementById('id10').style.display='block'" class="w3-button">Remover Usuario</button>

                <div id="id10" class="w3-modal">
                  <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

                    <div class="w3-center"><br>
                      <span onclick="document.getElementById('id10').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
                      <img src="logo.jpeg" alt="MPas" style="width:30%" class="w3-circle w3-margin-top">
                    </div>

                    <form class="w3-container" action="/action_page.php">
                      <div class="w3-section">
                        <label><b>Login</b></label>
                        <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Insira o Login do Usuário" name="Login" required>
                        <label><b>Atividade</b></label>
                        <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Insira a Atividade" name="Atividade" required>
                        <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Remover</button>
                      </div>
                    </form>

                    <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                      <button onclick="document.getElementById('id10').style.display='none'" type="button" class="w3-button w3-red">Cancelar</button>
                    </div>

                  </div>
                </div>
              </div>
           <!-- </a>-->

        </div>

    </li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Meus Projetos</a>
      <div class="dropdown-content">
        <a href="#">projeto 1</a>
        <a href="#">projeto 2</a>
        <a href="#">projeto 3</a>
        <a href="#">Projeto 4</a>
        <a href="#">Projeto 5</a>
      </div>
    </li>

       <!--<a href="#">-->
       <li style="float:right"><a>
              <div class="w3-container">
                <button onclick="document.getElementById('id31').style.display='block'" class="w3-button">Excluir Conta</button> <!-- Funcionaldade -->

                <div id="id31" class="w3-modal">
                  <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

                    <div class="w3-center" style="color:black"><br>
                      <span onclick="document.getElementById('id31').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
                      <img src="logo.jpeg" alt="MPas" style="width:30%" class="w3-circle w3-margin-top">
                    </div>

                    <form class="w3-container" action = "/excluir" method = "post">
                      <div class="w3-section" style="color:black">
                        <label><b>Login</b></label>
                        <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Insira o Título" name="login" required>
                        <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Excluir</button>
                      </div>
                    </form>

                    <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                      <button onclick="document.getElementById('id31').style.display='none'" type="button" class="w3-button w3-red">Cancelar</button>
                    </div>

                  </div>
                </div>
              </div>
            </a></li>
           <!-- </a>-->

    <% if(!login) {%>
      <li style="float:right"><a href="/login">Login</a></li>
      <li style="float:right"><a href="/Cadastro">Cadastro</a></li>
    <% } else { %>

       <!--<a href="#">-->
       <li style="float:right"><a>
              <div class="w3-container">
                <button onclick="document.getElementById('id30').style.display='block'" class="w3-button"><%=nome%></button> <!-- Funcionaldade -->

                <div id="id30" class="w3-modal">
                  <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

                    <div class="w3-center" style="color:black"><br>
                      <span onclick="document.getElementById('id30').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
                      <img src="logo.jpeg" alt="MPas" style="width:30%" class="w3-circle w3-margin-top">
                    </div>

                    <form class="w3-container" action = "" method = "post">
                      <div class="w3-section" style="color:black">
                        <label><b>Login</b></label>
                        <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Insira o Título" name="Titulo_Atividade" required>
                        <label><b>Nome</b></label>
                        <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Dercrição" name="Descricao" required>
                        <label><b>Telefone</b></label>
                        <input class="w3-input w3-border w3-margin-bottom" type="date" placeholder="Insira a Data" name="Data_fim" required>
                        <label><b>Email</b></label>
                        <input class="w3-input w3-border w3-margin-bottom" type="date" placeholder="Insira a Data" name="Data_inicio" required>

                        <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Alterar Conta</button>
                      </div>
                    </form>

                    <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                      <button onclick="document.getElementById('id30').style.display='none'" type="button" class="w3-button w3-red">Cancelar</button>
                    </div>

                  </div>
                </div>
              </div>
            </a></li>
           <!-- </a>-->

    <% } %>
  </ul>
</div>
<!--Comeca aqui a zoeira-->

<div>
  <div class="w3-container">
    <div onclick="myFunction('Demo1')" class="w3-btn w3-block w3-blue w3-left-align">

      <!--<a href="#">-->
         <div class="w3-container" style="color:black">
           <button onclick="document.getElementById('id20').style.display='block'" class="w3-button">Exemplo de Projeto</button>
           <div id="id20" class="w3-modal" >
             <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

               <div class="w3-center"><br>
                 <span onclick="document.getElementById('id20').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
                 <img src="logo.jpeg" alt="MPas" style="width:30%" class="w3-circle w3-margin-top">
               </div>

               <form class="w3-container" action="/action_page.php">
                 <div class="w3-section">
                   <h3>Descrição</h3>
                   <p>Eu sou o teste de um projeto e amo ser lido S2</p>
                 </div>
               </form>

               <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                 <button onclick="document.getElementById('id20').style.display='none'" type="button" class="w3-button w3-red">Cancelar</button>
               </div>

             </div>
           </div>
         </div>
      <!-- </a>-->
    </div><!---->
    <div id="Demo1" class="w3-container w3-hide">
      <div onclick="myFunction('Demo2')" class="w3-btn w3-block w3-blue w3-left-align">
        <!--<a href="#">-->
           <div class="w3-container" style="color:black">
             <button onclick="document.getElementById('id21').style.display='block'" class="w3-button">Exemplo de SubProjeto</button>

             <div id="id21" class="w3-modal">
               <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

                 <div class="w3-center"><br>
                   <span onclick="document.getElementById('id21').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
                   <img src="logo.jpeg" alt="MPas" style="width:30%" class="w3-circle w3-margin-top">
                 </div>

                 <form class="w3-container" action="/action_page.php">
                   <div class="w3-section">
                     <h3>Descrição</h3>
                     <p>Eu sou o teste de um projeto e amo ser lido S2</p>
                   </div>
                 </form>

                 <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                   <button onclick="document.getElementById('id21').style.display='none'" type="button" class="w3-button w3-red">Cancelar</button>
                 </div>

               </div>
             </div>
           </div>
        <!-- </a>-->
      </div>
    </div>
    <div id="Demo2
    " class="w3-container w3-hide">
        <p>Oi eu sou o goku</p>
        <div onclick="myFunction('Demo3')" class="w3-btn w3-block w3-black w3-left-align">
          Rello
        </div>
        <div id="Demo3" class="w3-container w3-hide">
            <p>Oi eu sou o goku</p>
        </div>
    </div>
  </div> <!-- -->


</div>


<script>
function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>
</div>


</body>
</html>
